@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
*,
html,
body {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container {
  width: 100%;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dfe9f3), to(white));
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 24px;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}

#container p {
  margin-bottom: 8px;
  text-align: center;
  font-size: 21px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

#container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .buttons button {
  padding: 18px 32px;
  margin: 8px 16px;
  font-size: 16px;
  display: inline-block;
  height: 40px;
  padding: 0 14px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

#container .buttons button:focus {
  outline: none;
}

#container .buttons button:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

#container .buttons .newcard--btn:hover {
  color: green;
}

#container .buttons .newgame--btn:hover {
  color: red;
}

#container .current--cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .current--cards .card--current,
#container .current--cards .card--previous {
  text-align: center;
  padding-bottom: 24px;
}

#container .current--cards .card--current p:nth-child(1),
#container .current--cards .card--previous p:nth-child(1) {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  margin: 16px 8px;
}

#container .current--cards .card--current p:nth-child(2),
#container .current--cards .card--previous p:nth-child(2) {
  font-size: 16px;
  height: 24px;
}

#container .current--cards .card--current img,
#container .current--cards .card--previous img {
  width: 80%;
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  border: none;
}
/*# sourceMappingURL=main.css.map */